@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@100;200;300&family=Nunito:ital,wght@0,200;0,400;0,500;0,600;0,700;0,800;0,900;0,1000;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900;1,1000&display=swap');

/* Variables Css */

:root {
    --header-height: 3rem;
    --font-medium: 500;
}

/* Colors */
:root {
    --first-color: #000;
    --white-color: #FAFAFF;
    --dark-color: #1F1F1F;
    --text-color: #b9b9b9;
}
/* Typo and fonts */
:root {
    --body-font: 'Heebo', sans-serif;
    --h1-font: 'Heebo', sans-serif;
    --big-font-size: 6.25rem;
    --h2-font-size: 1.25rem;
    --normal.font-size: .938rem;
    --small-font-size: .813rem;
}

@media screen and (min-wodth: 768px) {
:root {
    --big-font-size: 10.5rem;
    --h2-font-size: 2rem;
    --normal-font-size: 1rem;
    --small-font-size: .875rem;
}
}

/* Margins */
:root {
    --mb-1: .5rem;
    --mb-2: 1rem;
    --mb-3: 1.5rem;
    --mb-4: 2rem;

}

/* Z-index = to order the images between planes */
:root {
    --z-fixed: 100;
}

/* Base ::before and ::after to insert something before or after, here it affects to all (*) */
*,::before,::after {
    box-sizing: border-box;
}

/* if this is not working you have to go chrome://flags, search smooth and put "enabled"  */
html {
    scroll-behavior: smooth;
}

body {
    margin: var(--header-height) 0 0 0;
    font-family: var(--body-font);
    font-size: var(--normal-font-size);
    font-weight: var(--font-medium);
    color: var(--text-color);
    line-height: 1.6;
}
h1{
    font-family: var(--h1-font);
}

h2,p{
    margin:0;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}
a {
    text-decoration: none;
    color: var(--text-color)
}

img {
    max-width: 100%;
    height: auto;
    display: block;
}


/* Class Css */
.section {
    padding: 3rem 0;
}
.section-title {
    position:relative;
    font-size: var(--h2-font-size);
    color: var(--dark-color);
    margin: var(--mb-4) 0;
    text-align: center;
}
.section-title {
    position:relative;
    font-size: var(--h2-font-size);
    color: var(--dark-color);
    margin: var(--mb-4) 0;
    text-align: center;
}
.section-title::after {
    position: absolute;
    content: "";
    width: 32px;
    height: .18rem;
    left: 0;
    right: 0;
    margin: auto;
    top: 2rem;
    background-color: var(--first-color);
}

/* Layout */
.bd-grid {
    max-width: 1024px;
    display: grid;
    grid-template-columns: 100%;
    grid-column-gap: 2rem;
    width: calc(100% - 2rem);
    margin-left: var(--mb-2);
    margin-right: var(--mb-2);
}
/* to fix header position when zoom in and zoom out */
.l-header {
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: var(--z-fixed);
    background-color: var(--first-color);
}


/* Nav */
.nav {
    height: var(--header-height);
    display: flex;
    justify-content: space-between;
    align-items: center;
}
@media screen and (max-width: 768px) {
    .nav_menu {
        position: fixed;
        top: var(--header-height);
        right: -100%;
        width: 80%;
        height: 100%;
        padding: 2rem;
        background-color: rgba(255, 255, 255, .3);
        transition: .5s;
        backdrop-filter: blur(10px) ;
    }
}

.nav_item {
    margin-bottom: var(--mb-4);
}
.nav_link {
    position: relative;
    color: var(--first-color);
}
.nav_link:hover{
    color: rgba(255, 255, 255, 0.769);
}

.nav_logo {
    color: var(--white-color);
}
.nav_toggle {
    color: var(--white-color);
    font-size: 1.5rem;
    cursor: pointer;
}
.logo_img {
    position:relative;
    right: 0;
    bottom: 0;
    width: 120px;
    margin-left:15px;
    margin-top: 20px; 
    margin-bottom: 10px;
}
/* It is not necessary to put a cursor pointer according to new design rules */

/* Show menu */
.show {
    right: 0;
}

/* Active menu */
.active::after {
    position: absolute;
    content: "";
    width: 100%;
    height: .18rem;
    left: 0;
    top: 2rem;
    background-color: var(--first-color);
}

/* Home */
.home {
    position: relative;
    background-color: var(--first-color);
    overflow: hidden;
}
.home_container {
    height: calc(100vh - var(--header-height));
    row-gap: 5rem;
}

 .home_title {
    align-self: flex-end;
    font-size: var(--big-font-size);
    color: var(--white-color);
    line-height: .8 ;
    
} 
.home_title-link {
    writing-mode: vertical-lr;
    transform: rotate(-180deg);
    color: var(--white-color);
}
.home_title, span {
    text-shadow: 0 20px 25px rgba(255, 255, 255, 0.198);
}
.home_scroll {
    align-self: flex-end;
    padding-bottom: var(--mb-4);
}
.home_scroll-link {
    writing-mode: vertical-lr;
    transform: rotate(-180deg);
    color: var(--white-color);
}
.home_img {
    position: absolute;
    right: 0;
    bottom: 0;
    width: 295px;
    margin-left:50px; 
}

/* About */
.about_container {
    justify-items: center;
    row-gap: 2rem;
    text-align: center;
}
.about_img {
    display: flex;
    justify-content: center;
    padding-top: rem;
    width: 100%;
    height: 100%;
    background-color: var(--first-color);
    border-radius: 5% ;
    overflow: hidden ; 
}}
.about_img img {
width: 100%;
height: 100%;
}
.about_subtitle {
    font-size: var(--h2-font-size);
    color: var(--first-color);
    margin-bottom: var(--mb-1);
}
.about_text {
    margin-bottom: var(--mb-4);
}
.about_explanation {
    display: block;
    margin-bottom: 0 var(--mb-1);
}
.about_social-icon {
    font-size: 1.4rem;
    margin: 0 var(--mb-1);
    transition: all .5s;
}
.about_social-icon:hover {
    color: var(--first-color);
}
/* Skills */
.skills_container {
    row-gap: 2rem;
}
.skills_subtitle {
    color: var(--first-color);
    margin-bottom: var(--mb-3);
}
.skills_name {
    display: inline-block;
    font-size: var(--small-font-size);
    margin-right: var(--mb-2);
    margin-bottom: var(--mb-3);
    padding: .25rem .5rem;
    background-color: var(--white-color);
    border-radius: .25rem;
    transition: all .5s;
}
.skills_name:hover {
    background-color: var(--first-color);
    color:var(--white-color) ;
}
.skills_img img {
    margin-top: var(--mb-4);
    border-radius: .5rem;
    width: 85%;

}
/* Portfolio */
.portfolio {
    background-color: var(--white-color);
}
.portfolio_container {
    justify-items: center;
    row-gap: 2rem;
}
 .portfolio_img { 
    position: relative;
    overflow: hidden;
}
.portfolio_img img {
    border-radius: .5rem;
}
.portfolio_link {
    position: absolute;
    bottom: -100%;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(255, 255, 255, .3);
    border-radius: .5rem;
    cursor: pointer;
    backdrop-filter: blur(10px);
    transition: .4s;
}
.portfolio_img:hover .portfolio_link {
    bottom: 0;
}
.portfolio_link-name {
    color: var(--dark-color);
    text-align: center;
}

/* contact */
.contact_container {
    row-gap: 2rem;
}
.contact_subtitle {
    font-size: var(--normal-font-size);
    color: var(--first-color)
}
.contact_text {
    display: inline-block;
    margin-bottom: var(--mb-2);
}
.contact_inputs {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 1rem;
}
.contact_input {
    width: 100%;
    padding: .8rem;
    outline: none;
    border: 1.5px solid var(--dark-color);
    font-size: var(--normal-font-size);
    margin-bottom: var(--mb-4);
    border-radius: .5rem;
}
.contact_button {
    display: block;
    background-color: var(--first-color);
    color: var(--white-color);
    padding: .75rem 2.5rem;
    margin-left: auto;
    border-radius: .5rem;
    border: none;
    outline: none;
    font-size: var(--normal-font-size);
    cursor:pointer;
    transition: all .5s;
}
.contact_button:hover {
    background-color: var(--white-color);
    color: var(--first-color);
    border: 1px solid var(--first-color);
}
/* Footer */
.footer {
    background-color: var(--dark-color);
}
.footer_container {
    row-gap: 2rem;
}
.footer_title {
    font-size: var(--normal-font-size);
    color: var(--white-color);
    margin-bottom: var(--mb-2);
}
.footer_link {
    padding: .25rem 0;
}
.footer_link:hover {
    color: var(--white-color)
}
.footer_social {
    font-size: 1.4rem;
    margin-right: var(--mb-1);
}
.footer_social:hover {
    color: var(--white-color)
}
.footer_copyright{
    text-align: center;
    font-size: var(--small-font-size);
}

/* Media Queries */
/* Small devices */
@media screen and (max-width: 320px) {
    .home_img {
        width: 230px;
    }
}
@media screen and (min-width: 768px) {
    
    body {
        margin :0;
    }
    .section {
        padding-top: 4rem;
    }
    .section-title {
        margin-bottom: 3rem;
    }
    .section-title::after {
        width: 64px;
        top: 3rem;
    }
    .nav {
        height: calc(var(--header-height) +1rem);
    }
    .nav_list {
        display:flex;
    }
    .nav_item {
        margin-left: var(--mb-4);
        margin-bottom: 0;
    }
    .nav_toggle {
        display: none;
    }
    .nav_link {
        color: var(--white-color);
    }
    .nav_link:hover {
        color: var(--white-color);
    }
    .active::after {
        background-color:var(--white-color);
    }
    .home_container {
        height: 100vh;
        grid-template-rows: 1.7fr 1fr;
        row-gap: 0;

    }
    .home_img {
        width: 524px;
        right: 10%;

    }
    .about_container {
        grid-template-columns: repeat(2, 1fr);
        align-items: center;
        text-align: center;
        padding: 4rem 0;
    }
    .about_img {
        width: 100%;
        height: 100%;
      
    }
    .about_img img {
        width: 100%;
        height: 100%;
        
    }
    .skills_container {
        grid-template-columns: repeat(2, 1fr);
        align-items: center;
    }
    .portfolio_container {
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(2, 1fr);
        column-gap: 2rem;
    }
    .contact_container {
        grid-template-columns: repeat(2, 1fr);
        justify-content: center;
    }
    .contact_form {
        width: 380px;
    }
    .footer:container {
        grid-template-columns: repeat(3, 1fr);
        justify-items: center;
    }
}

@media screen and (min-width: 1024px) {
   
    .bd-grid {
        margin-left: auto;
        margin-right: auto;
    }
}

/* for large screens on mobiles and desktop */
@media screen and (min-height: 721px) {
    .home_container {
        height: 640px;
    }
    .home_img {
        width: 700px;
        right: 0%
    }
}